extends layout

block photoGallery
  #main
    if listOfPhotoObjects.length
      for photoObject of listOfPhotoObjects
        article.thumb
          a.image(href=photoObject.full)
            img(src=photoObject.thumb alt='')
          input(type='checkbox' form='chosenPhotos' id=photoObject.name name=photoObject.name value=photoObject.full)
          label(for=photoObject.name)
            h2= photoObject.name

